
@charset "UTF-8";
* {
  padding: 0 auto;
  margin:0;
}
#topo {
    padding: 0 auto;
    margin:0;
    width: 100%;
}


/* BACKGROUND */

      .background{
          height: 500px;
          width: 100%;
          background-position:center;
          background-image: url("../imgs/tutu.png");
          
        }

/* MENU */  

      .navbar {
          overflow: hidden;
          background-color: #333;
          position: fixed; 
          top: 0; 
          width: 100%; 
        }
        
     .navbar a {
          font-family: 'bebas neue';
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 20px 20px;
          text-decoration: none;

        }
        
      
      .navbar a:hover {
          background: #ddd;
          color: black;
          
        }
        
      
      .main {
          margin-top: 30px; 
        } 

/* DIV DE POSTAGENS */

        #conteudo1 {
          padding: 10px;
          width: 80%;
          background: #ffffffc0;
          font-family: bebas neue;
          font-size: 30px;
          }

        .postagem {
            text-align: justify;
            width: 80%;
            padding: 10px;
            font-family: Helvética;
            font-size: 20px;
        }


/* redes sociais */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.icones-sociais{
  position: fixed;
  bottom: 0;
  right: 0;
}

.icones-sociais li {
  display: inline-block;
}

.icones-sociais a {
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -99999px;
}

.facebook {
  background-image: url facebook.png;
}
.git {
    background-image: url(git.png);
}
.Instagram {
  background-image: url(Instagram.png);
}

@media only screen and (max-device-width: 900%) {
  /* .menu { width:100%; } */
  }
