@charset "UTF-8";
* { 
	margin: 0;
	padding: 0; 
}

#menu ul {
    padding: 10px;
    margin:0px;
    background-color:#545454;
    list-style:none;
    text-align: center;

}
#menu ul li { 
	display: inline;
} 

#menu ul li a {
    padding: 7px 200px;
    display: inline-block;
    text-align: center;
    height: 30px;
    font: 30px Bebas Neue;
    padding: 10px;
	font-weight: 300;
	transition: all 0.3s;
	color: #fff;

    /* visual do link */
    background-color:transparent;
    color: white;
    text-decoration: none;
    border-bottom:5px solid #;
}

#menu a:hover {
	background-color: #ccc;

}
	
#postagens ul {
	background-color:black;
	

}	

#more {display: none;}







